<div class="container">
  <form
    [formGroup]="searchForm"
    class="searchBar"
    (ngSubmit)="onSearchSubmit()"
  >
    <input
      name="id"
      type="text"
      placeholder="Search..."
      formControlName="searchValue"
      class="searchBarInput"
    />
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Product image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Seller Name</th>
        <th scope="col">Price</th>
        <th scope="col">Active Stock Number</th>
      </tr>
    </thead>
    <tbody>
      @for(data of data; track data.id) {
      <tr
        (click)="openModal(data)"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <th scope="row">
          <img
            src="{{ data.productImageUrl }}"
            alt="Product image"
            width="70"
            height="90"
          />
        </th>
        <td>{{ data.productName }}</td>
        <td>{{ data.seller.name }}</td>
        <td>{{ data.price.amount / 100 }}</td>
        <td>{{ data.activeStockNumber }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dataForm">
          <label for="product-name">Product Name: </label>
          <input id="product-name" type="text" formControlName="productName" />

          <label for="popularity-value">Popularity Value: </label>
          <input
            id="popularity-value"
            type="number"
            formControlName="popularityValue"
          />

          <label for="is-preorder">Is Preorder: </label>
          <input
            id="is-preorder"
            type="checkbox"
            formControlName="isPreorder"
            (change)="changePopularity()"
          />

          <label for="type">Type: </label>
          <select id="type" formControlName="type">
            <option value="kinguin">kinguin</option>
            <option value="other">other</option>
          </select>

          <label for="price">Price: </label>
          <input id="price" type="text" formControlName="price" />

          <label for="currency">Currency: </label>
          <select
            id="currency"
            formControlName="currency"
            (change)="clearPrice()"
          >
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
            <option value="PLN">PLN</option>
          </select>

          <label for="seller">Seller: </label>
          <input id="seller" type="text" formControlName="seller" />

          <label for="active-stock-number">Active Stock Number: </label>
          <input
            id="active-stock-number"
            type="number"
            formControlName="activeStockNumber"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet />
