.container {
  margin: 0 auto;
  margin-top: 50px;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.searchBarClear {
  margin-left: 10px;
  cursor: pointer;
}

.searchBarInput {
  height: 30px;
  width: 300px;
  font-size: 16px;
}

input[type="text"],
input[type="number"],
input[type="checkbox"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  padding-left: 0;
}

.modal-content {
  width: 100%;
}

.readonly,
input[id="is-readonly"] {
  position: absolute;
  top: 0;
  left: 90%;
  width: 8%;
}

input[id="is-readonly"] {
  margin: 5px 0;
}
